<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">

{{- if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords ", " }}">
{{- else if .Site.Params.keywords }}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
{{- end }}

<!-- Open Graph -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .Site.Params.ogImage }}
<meta property="og:image" content="{{ . | absURL }}">
{{- end }}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- CSS -->
{{- $variables := resources.Get "css/_variables.css" }}
{{- $typography := resources.Get "css/_typography.css" }}
{{- $layout := resources.Get "css/_layout.css" }}
{{- $components := resources.Get "css/_components.css" }}
{{- $code := resources.Get "css/_code.css" }}
{{- $css := slice $variables $typography $layout $components $code | resources.Concat "css/main.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
