/* ----------------------------------------------------- */
/* Navigation */
/* ----------------------------------------------------- */

#nav{
	border-top:1px solid #d5d5d5;
	background-color:#fff;
	margin-top:12px;
	margin-bottom:0px;
}

.select-menu{
	display:none;
}
#nav ul {
	margin:0;
	padding:0;
}	

#nav ul li{
	font-family:"Open Sans";
	position: relative;
	display:block;
	float:left;
	background: url(/images/nav-divider.png) no-repeat center right;
	padding-right:1px;
	border:0px;
}
#nav ul li:last-child {
	background: none;
}
#nav ul li a{
	display: block;
	float: left;
	padding:6px 30px 7px 30px;
	text-decoration: none;
	color:#666666;
	font-weight:700;
	font-size:11px;
	text-transform: uppercase;
	border-top:1px solid #d5d5d5;
	margin-top:-1px;
	border-bottom:0px;
}
#nav ul li a:hover {
	color:#666;
	border-color:#ec7100;
	margin-top:-1px;
	border-bottom:0px;
}

/* Active */
#nav ul li.current-menu-item a, 
#nav ul li.current-page-ancestor a,
#nav ul li.current-menu-ancestor a{
	border-top:1px solid #666;
	margin-top:-1px;
	background: #333 url(/images/arrow-top.png) no-repeat top center;
	color:#333;
}
#nav ul li.current-menu-item ul li a, 
#nav ul li.current-page-ancestor ul li a,
#nav ul li.current-menu-ancestor ul li a{
	color:#666666 !important;
}
#nav ul li.current-menu-item ul li a:hover, 
#nav ul li.current-page-ancestor ul li a:hover,
#nav ul li.current-menu-ancestor ul li a:hover {
	color:#666666 !important;
}

#nav ul.sub-menu{
	display: none;
	position: absolute;
	top:33px;
	left:0;
	width:200px;
	z-index: 600;
	background: #ffffff !important;
	border-top:2px solid #ec7100;
	padding:10px 20px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4); 
}

html body #wrap li.current_page_item ul li a, 
html body #wrap li.current_page_ancestor ul li a, 
html body #wrap li.current-menu-ancestor ul li a{
	background-color: #ffffff;
}

html body #nav ul.sub-menu li, #nav ul.sub-menu li a {
	background: none;
	border:none !important;
	padding:0;
	margin:0;
}

html body #nav ul.sub-menu li a {
	display:block !important;
	padding:8px 10px 7px 10px;
	width:180px;
	font-weight:400;
	border-bottom:1px solid #efefef !important;
}

html body #nav ul.sub-menu li:last-child a,
html body #nav ul.sub-menu li:last-child ul li:last-child a {
	border-bottom: none !important;
}

html body #nav ul.sub-menu li:last-child ul li a {
	border-bottom:1px solid #efefef !important;
}

#nav ul li ul li ul{
	margin-left:200px;
	margin-top:-35px;
}

#nav ul li ul li ul li{
	padding:0;
	border-bottom:1px solid #efefef;
}

.sf-sub-indicator{
	display:none;
}





.color-hr2{
	height:5px;
	display: block;
	background: #fff;
	border-top:1px solid #d5d5d5;
	margin:0; /* -30px;*/
}





#nav ul li a:hover {
	color:#333;
	border-color:#666;
}

#nav ul li.current-menu-item a, 
#nav ul li.current-page-ancestor a,
#nav ul li.current-menu-ancestor a{
	border-color:#333;
	background-color: #333;
	color:#333;
}

#nav ul li.current-menu-item ul li a:hover, 
#nav ul li.current-page-ancestor ul li a:hover,
#nav ul li.current-menu-ancestor ul li a:hover {
	color:#428652 !important;
}

#nav ul.sub-menu{
	border-color:#428652;
}

.navigation a:hover {
	color:#428652;
}


#subtitle{
	background: url(/images/dotted.png) repeat-x bottom left;
	color:#666666;
	padding:0px 30px 5px 30px;
	margin:0;
	position: relative;
}
#subtitle h2{
	font-family:"Open Sans";
	font-size:18px;
	margin:0;
	color:#999999;
	font-weight:300;
}
#subtitle h2 span{
	font-weight:600;
	color:#666666;
}
